{% include 'themes/jks/templates/header.twig' %}


<div class="container min-height">  


    <!-- Carousel ================================================== -->
    <div class="row">

        <section class="section-white">


            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
                    <li data-target="#carousel-example-generic" data-slide-to="5" class=""></li>

                </ol>

                <!-- Wrapper for slides -->
                {{ page.carousel }}


                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="fa fa-angle-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="fa fa-angle-right"></span>
                </a>
            </div>


        </section>

    </div>

    <br />

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">    
            {{ page.jks_brief }}
        </div>    
    </div>


    <!-- Services front page ======================================= -->
    <div class="row">

        {{ page.services_frontpage }}

    </div>    


    <hr class="divider30px">

    <div class="row">
        <div class="col-md-6">   
            {{ page.column_left }} 
        </div>
        <div class="col-md-6">
            <div class="charity">
                {{ page.column_right }}
            </div>
        </div>
    </div>

    <hr class="divider30px">


    <div class="row">
        {{ page.image_row_at_buttom }}
    </div>    






    <hr class="divider30px">




</div><!-- container min-height -->        





{% include 'themes/jks/templates/footer.twig' %}